@{
    ViewBag.Title = "Crm";
    Layout = "~/Views/Shared/_ViewIframe.cshtml";
    int id = Nistec.Types.ToInt(Request["id"]);
}
@section head {
    @Scripts.Render("~/bundles/jqx")
    @Scripts.Render("~/bundles/jqxgrid")
<script type="text/javascript" src="~/Scripts/app/app-jqx-grid-2.0.js"></script>
<script type="text/javascript" src="~/Scripts/app/model/lead_trace-grid.js?ver=2018004"></script>
<script type="text/javascript" src="~/Scripts/app/dateFormat.js"></script>
@*<link rel="stylesheet" href="~/Scripts/app/app-form.css" type="text/css" />*@

}

@*<hgroup class="title">
    <h3 class="rightPan">מעקב שיחות</h3>

</hgroup>*@
<div class="clear"></div>

<div class="global-view">

    <div class="container-rtl">
        <div class="rtl">
            <div id="jqxWidget">
                <div id="jqxgrid" style="position:relative;z-index:1;border:solid 1px #808080"></div>
                <div style="font-size: 12px; font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif; margin-top: 30px;">
                    <div id="cellbegineditevent"></div>
                    <div style="margin-top: 10px;" id="cellendeditevent"></div>
                    <div id="popupRegister">
                        <div>עריכה</div>
                        <div style="direction:rtl; text-align:right;">
                            <input type="hidden" id="Mode" value="" />
                            <input type="hidden" id="RecordId" name="RecordId" value="" />
                            <input type="hidden" id="LeadId" name="LeadId" value="" />
                            <input type="hidden" id="LeadType" name="LeadType" value="" />
                            <input type="hidden" id="State" name="State" value="" />

                            <div class="form-group">
                                <label class="column">
                                    איש קשר:
                                </label>
                                <div id="ContactId" name="ContactId">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    תאריך לתזכורת:
                                </label>
                                <div id="RemindDate" name="RemindDate"></div>
                            </div>
                            <div class="form-group">
                                <label class="column">
                                    תוכן:
                                </label>
                                <textarea id="Memo" name="Memo" style="width:320px; height:80px;text-align:right"></textarea>
                            </div>
                            <div>
                                <input id="regSave" type="button" style="margin-right: 5px;" value="עדכון" />
                                <input id="regCancel" type="button" value="ביטול" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   app_menu.activeLayoutMenu("liLeads");
</script>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var theme = 'Arctic';
            JSON.useDateParser();

            app_lead_trace_grid.load('@id');


        });
    </script>
}