 <connectionStrings>
    <add name="cnn_natam" connectionString="Data Source=62.219.21.58; Initial Catalog=Natam_Crm_Pro; uid=natam;password=Crt472db; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="cnn_Trace" connectionString="Data Source=62.219.21.58; Initial Catalog=Nistec_Trace; uid=netcell;password=Net5678; Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="Default" connectionString="Data Source=62.219.21.58; Initial Catalog=Natam_Crm_Pro; uid=natam;password=Crt472db; Connection Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>