@model Natam.Mvc.Models.MediaModel
@{

    ViewBag.Title = "Buildings";
    Layout = "~/Views/Shared/_ViewIframe.cshtml";
    
    int buildingId = Model.BuildingId;
    int propertyId = Model.UnitId;
    string propertyType =Model.PropertyType;
}

@section head {

    @Scripts.Render("~/bundles/jqx")
    <script src="~/jqwidgets/jqxsplitter.js"></script>
    <script src="~/Scripts/plagins/colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="~/Scripts/plagins/colorbox/colorbox.css" />

    <script src="~/Scripts/plagins/uploader/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/plagins/uploader/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/plagins/uploader/js/jquery.fileupload.js"></script>
    
    <script src="~/Scripts/app/upload/mediaUploader.js"></script>
    <link rel="stylesheet" href="~/Scripts/plagins/uploader/css/jquery.fileupload.css">

}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            $('.group1').colorbox({ rel: 'group1' });

            $('#uploadBid').val('@buildingId');
            $('#uploadUid').val('@propertyId');
            $('#uploadPt').val('@propertyType');
            //$("#fileremove").prop('disabled', true);
            $("#spnRemove").hide();


            $("#splitter").jqxSplitter({width: '100%', height: 300, panels: [{ size: '40%' }] });

            var mu=new mediaUploader('@buildingId', '@propertyId', '@propertyType')

        });

    </script>
}

 <div style="margin:20px;">

        <div id="jqxWidget" style="margin: 0 auto; display: block; direction: rtl">
            <h3 class="rightPan">מדיה</h3>
            <div id="splitter">
                <div style="overflow: hidden;">
                    <div style="border: none;" id="MediaList">
                    </div>
                </div>
                <div style="overflow: auto;" id="ContentPanel">
                </div>
            </div>
            <div id="uploader">
                <div style="width: 250px">
                    <span>Select files...</span>
                    <input type="hidden" id="uploadBid" value="" />
                    <input type="hidden" id="uploadUid" value="" />
                    <input type="hidden" id="uploadPt" value="" />
                    <input type="hidden" id="uploadMid" value="" />
                    <input type="hidden" id="uploadMtype" value="" />
                    <input type="hidden" id="uploadPath" value="" />
                    <input type="hidden" id="uploadUuid" value="" />
                    <div style="padding: 10px">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"><span>הוספת תמונה</span></i>
                            <input id="fileupload" type="file" name="files[]" multiple>
                        </span>
                        <span id="spnRemove" class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-minus"><span>הסרת תמונה</span></i>
                            <input id="fileremove" type="button" value="הסרת תמונה"/>
                        </span>
                        
                        <br>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div id="files" class="files"></div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!--end of content-wrapper-->
